.container-img img{
    height: 3rem;
    width: 3rem;
}

.skillCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    height: auto;
    width: auto;
    margin: 0.5rem 1rem;
    border: 2px solid rgb(83, 83, 161);
    border-radius: 0.65rem;
}
.skillCard p{
    padding-top: 1rem;
}

@media screen and (max-width: 700px) {

    .container-img img{
        height: 2rem;
        width: 2rem;
    }
    
}