.icon-image{
    height: 4rem;
    width: 4rem;
}

.skill-card{
    height: 15vh;
    width: 20vw;
    border-radius: 0.65rem;
    border: 1.5px solid rgb(116, 116, 243);
    background: rgb(36, 36, 51);
    backdrop-filter: blur(1rem);
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    /* justify-content: center; */
    text-align: center;
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.skill-card:hover,
.skill-cardactive{
    border-radius: 0.65rem;
    background: linear-gradient(180deg, rgb(134, 134, 227) 0%, rgb(85, 85, 214) 100%);
}

.skill-card span{
   font-size: 1.3rem;
    font-weight: 500;
}
.skill-cardactive{
    height: 15vh;
    width: 20vw;
    border-radius: 0.65rem;
    font-size: 1.3rem;
    font-weight: 500;
    backdrop-filter: blur(1rem);
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
   
    text-align: center;
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
} 



.skill-icon{
    background: rgb(23, 23, 52);
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.65rem;
    border: 1.5px solid rgb(112, 112, 230);
    position: absolute;
    top: -1.5rem;
    left: -1.5rem;

}


.skill-icon img{
    height: 4rem;
    width: 4rem;
    object-fit: cover;

}

@media screen and (max-width : 430px) {

    .skill-card{
        height: 15vh;
        width: 70vw;
        border-radius: 0.65rem;
        border: 1.5px solid rgb(116, 116, 243);
        background: black;
        backdrop-filter: blur(1rem);
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
.skill-cardactive{
    border-radius: 0.65rem;
    height: 15vh;
    width: 70vw;
    border-radius: 0.65rem;
    border: 1.5px solid rgb(116, 116, 243);
    /* background: black; */
    
}

    .skill-icon{
        height: 3rem;
        width: 3rem;
        top: -1rem;
        left: -1rem;
    }
    .skill-icon img{
        height: 2rem;
        width: 2rem;
    }
   
}

@media screen and (max-width:380px) {

    .skill-card{
        height: 12vh;
        width: 60vw;
       

    }
    .skill-cardactive{
       
        height: 12vh;
        width: 60vw;
       
        
    }
    
}

@media screen and (max-width: 700px) {
    .skill-card{
        padding: 0;
        margin: 0;
        /* background: green; */
        height: 10vh;
        width: 35vw;
        
    }

    .skill-card span{
        font-size: 1rem;
    }

    .skill-icon img{
        height: 1.5rem;
        width: 1.5rem;
        object-fit: cover;
    
    }
    .skill-icon{
        background: rgb(23, 23, 52);
        width: 2.5rem;
        height: 2.5rem;
        top: -1rem;
        left: -1rem;
    
    }

    .skill-cardactive{
        height: 10vh;
        width: 35vw;
        font-size: 1rem;
       
    } 


}

