.icon-container{
    border: 1px solid rgb(233, 103, 16);
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    /* padding: 1rem 1rem; */
    color: rgb(233, 103, 16);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    
}

.icon-container:hover{
    box-shadow: 0 0 10px 1px rgb(233, 103, 16);
    transform: translateY(-0.5rem);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .icon-container{
        height: 4rem;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (min-width: 600px)and (max-width: 768px) {
    .icon-container{
        /* background-color: red; */
        height: 3rem;
        width: 3rem;
    }
}

@media screen and (max-width: 600px) {
    .icon-container{
        /* background-color: green; */
        height: 3.5rem;
        width: 3.5rem;
    }
   
}