.hero-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    margin: 0 2rem;
    /* background: yellow; */
}

.hero-container::after,
.hero-container::before {
    content: " ";
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 28.125rem;
    background: rgb(168, 168, 221);
    position: absolute;
    z-index: -1;
    filter: blur(220px);
}

.hero-container::after {
    top: -3rem;
    left: -5rem;
}

.hero-container::before {
    bottom: 2rem;
    right: 0rem;
}

.hero-content {
    /* background: yellow; */

    margin-left: 3rem;
    margin-right: 3rem;
    flex: 1;

}

.hello {
/* background: yellow; */
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 5rem;
    color: rgb(9, 9, 58);
    /* margin-bottom: 1rem; */
}

.hero-name{
margin-left: 1rem;
font-size: 3.8rem;
    font-weight: 600;
    line-height: 5rem;
    color: white;
    font-family: "Poppins";
    /* color: rgb(59, 59, 168); */
/* background: green; */
}

.intro-text{
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 5rem;
    display: flex;
    color: rgb(9, 9, 58);
}

.hero-content p {

    width: auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}

.hero-img-icon {
    height: 100vh;
    width: 30vw;
    /* background: green; */
    display: flex;
    margin-right: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-img {
    border-radius: 4rem;
    /* margin-top: 3.5rem; */
    height: 70vh;
    width: auto;
    object-fit: cover;


}

.icons {
    /* margin-top: 1rem; */
    display: flex;
}

.tech-icon-img {

    padding: 1rem;
    height: 3rem;
    width: 3rem;
    transition: all 0.3s ease;
}

.tech-icon {
    border: 2px solid rgb(168, 168, 221);
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 0.65rem;
}

.tech-icon-img:hover {
    transform: translateY(-0.5rem);
}






@media screen and (max-width:1500px) {

    .hero-content h2 {
        font-size: 3rem;
        line-height: 4rem;
    }

    .hero-img {
        height: 70vh;
        width: auto;
        margin-top: 4rem;
    }

    .tech-icon-img {
        height: 2.5rem;
        width: 2.5rem;
    }

}

@media screen and (max-width:1025px) {

    .hero-content h2 {
        font-size: 3rem;
        line-height: 4rem;
    }

    .hero-img {
        margin-top: auto;
    }

    .hero-img-icon {
        width: auto;
    }

    .tech-icon-img {
        height: 2rem;
        width: 2rem;
    }

}






@media screen and (max-width:700px) {

    .hero-container {
        flex-direction: column;
        padding-top: 2rem;
        height: auto;
        width: auto;
    }

    .hero-img {
        height: 70vh;
        padding: 0;
        margin: 0;

    }

    .hello{
        
        font-size: 2rem;
    }

    .intro-text{
        /* background: yellow; */
        font-size: 2.5rem;
        text-align: center;
    }

    .hero-name{
        
        font-size: 2.5rem;
        
    }

}

@media screen and (max-width:430px) {

    .hero-container {
        flex-direction: column;
        padding-top: 2rem;
        height: auto;
        width: auto;
    }
    .hero-content h2{
        font-size: 2rem;
        line-height: 2.3rem;
    }
    .hero-content p{
        line-height: 1.5rem;
    }

    .hero-img-icon {
        /* background: green; */
        height: 100vh;
        width: 100vw;
        margin-top: 2rem;
        justify-content: start;
    }

    .hero-img {
        height: 60vh;
        width: auto;
        padding: 0;
        margin-left: 2rem;

    }
    .tech-icon-img{
        height: 1.6rem;
        width: 1.6rem;
    }
    
    .hero-content{
        text-align: center;
    }
    
    .hero-name, .intro-text{
        font-size: 1.5rem;
        padding: 0;
    }

}


@media screen and (max-width:321px) {

    .hero-container{
        margin-left: 10vw;
        width: 100vw;
        /* background: purple; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-content h2{
        font-size: 2rem;
        line-height: 2.5rem;
       
    }
    .hero-content{
        margin: 0;
        padding: 0;
        width: auto;
       
    }

    .hero-img-icon{
        width: auto;
    }
    
}