.experience-card{
    border-radius: 0.65rem;
    border: 2px solid rgb(233, 103, 16);
    padding: 0 1rem;
    width: auto;
    height: 40vh;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
    /* margin: 1rem 1rem; */
    background: rgb(20, 20, 20);
}

.experience-card h6{
    font-size: 1.05rem;
    margin: 0.7rem 0;
    font-weight: 500;
}

.work-duration{
    display: inline-block;
    margin: 0;
    padding: 0;
    /* background: yellow; */
    font-size: 0.7rem;
    font-weight: 400;
    background: rgb(233, 103, 16);
    border-radius: 0.3rem;
    padding: 0.4rem 0.6rem;
}

.experience-card ul li{
    list-style: none;
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    position: relative;
}

.experience-card ul li::after{
    content: " ";
    width: 0.5rem;
    height: 0.5rem;
    background: rgb(233, 103, 16);
    border-radius: 0.5rem;
    position: absolute;
    top: 0.5rem;
    left: -1.5rem;
}

/* @media screen and (max-width:700px){
    .experience-card{
        height: auto;
    }
    
} */

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .experience-card{
   /* background-color: green; */

}
.experience-card h6{
    font-size: 1rem;
}
.work-duration{
    font-size: 0.5rem;
}
.experience-card ul li{
    font-size: 0.7rem;
}


}


@media screen and (min-width: 600px) and (max-width: 768px) {
    
}

@media screen and (max-width: 600px) {
.experience-card {
    /* background-color: red; */
    height: auto;
}

    
}
